.headBox{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.header{
    color: red;
    border-color: black;
    border-style: dashed;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 10px;
}

/* Style for the grid container using Flexbox */
.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;       /* Allow the grid items to wrap to the next line */
    width: 540px;        
    margin: 0 auto;  
  }
  
  .grid div {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .grid div.black {
    background-color: black;
  }